{% extends "base/base.html" %}

{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-12">
    {% comment %} Content Here {% endcomment %}
    <div class="row">
    <div class="col-xs-1-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <div class="hstack gap-3 d-flex justify-content-between">
                            View Grade
                        </div>
                    </h3>

                    <br/>

                    <div class="container-fluid">
                        <div class="row my-2">
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                        </div>
                        <div class="row my-2">
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                        </div>
                        <div class="row my-2">
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                        </div>
                        <div class="row my-2">
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                        </div>
                        <div class="row my-2">
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                        </div>
                        <div class="row my-2">
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                        </div>
                        <div class="row my-2">
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                        </div>
                        <div class="row my-2">
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                        </div><div class="row my-2">
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                        </div>
                        <div class="row my-2">
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                        </div>
                        <div class="row my-2">
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                            <div class="col-3 mx-2 bg-warning">Placeholder</div>
                        </div>



                    </div>
                </div>
            </div>
        <div class="col-xs-1-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <div class="hstack gap-3 d-flex justify-content-between">
                            Preliminary
                        </div>
                    </h3>

                    <br/>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2 border bg-secondary text-white">Name</div>
                            <div class="col-2 border bg-secondary text-white">Prelim</div>
                            <div class="col-2 border bg-secondary text-white">Major Examination Ave.</div>
                            <div class="col-2 border bg-secondary text-white">Computed Ave.</div>
                            <div class="col-2 border bg-secondary text-white">Transmuted Ave.</div>
                            <div class="col-2 border bg-secondary text-white">Final Grade</div>
                        </div>
                        <div class="row">
                            <div class="col-2 border">Chin</div>
                            <div class="col-2 border"></div>
                            <div class="col-2 border">123</div>
                            <div class="col-2 border">123</div>
                            <div class="col-2 border">123</div>
                            <div class="col-2 border">123
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-1-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <div class="hstack gap-3 d-flex justify-content-between">
                                Midterm
                            </div>
                        </h3>

                        <br/>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2 border bg-secondary text-white">Name</div>
                                <div class="col-2 border bg-secondary text-white">Midterm</div>
                                <div class="col-2 border bg-secondary text-white">Major Examination Ave.</div>
                                <div class="col-2 border bg-secondary text-white">Computed Ave.</div>
                                <div class="col-2 border bg-secondary text-white">Transmuted Ave.</div>
                                <div class="col-2 border bg-secondary text-white">Final Grade</div>
                            </div>
                            <div class="row">
                                <div class="col-2 border">Chin</div>
                                <div class="col-2 border"></div>
                                <div class="col-2 border">123</div>
                                <div class="col-2 border">123</div>
                                <div class="col-2 border">123</div>
                                <div class="col-2 border">123
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-1-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                <div class="hstack gap-3 d-flex justify-content-between">
                                    Finals
                                </div>
                            </h3>

                            <br/>

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-2 border bg-secondary text-white">Name</div>
                                    <div class="col-2 border bg-secondary text-white">Finals</div>
                                    <div class="col-2 border bg-secondary text-white">Major Examination Ave.</div>
                                    <div class="col-2 border bg-secondary text-white">Computed Ave.</div>
                                    <div class="col-2 border bg-secondary text-white">Transmuted Ave.</div>
                                    <div class="col-2 border bg-secondary text-white">Final Grade</div>
                                </div>
                                <div class="row">
                                    <div class="col-2 border">Chin</div>
                                    <div class="col-2 border"></div>
                                    <div class="col-2 border">123</div>
                                    <div class="col-2 border">123</div>
                                    <div class="col-2 border">123</div>
                                    <div class="col-2 border">123
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

</div>{% block extra_js %}{% endblock extra_js %}